/* Resetando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
  }
  
  /* Cabeçalho */
  header {
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  header nav ul {
    list-style: none;
    text-align: center;
  }
  
  header nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  header nav ul li a:hover {
    text-decoration: underline;
  }

  .pesquisa {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px; /* Espaçamento abaixo da pesquisa */
}

.pesquisa input {
    padding: 10px;
    font-size: 1em;
    width: 60%;
    max-width: 400px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.pesquisa button {
    padding: 10px 15px;
    font-size: 1em;
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.pesquisa {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px; /* Espaçamento abaixo da pesquisa */
}

.pesquisa input {
  padding: 10px;
  font-size: 1em;
  width: 60%;
  max-width: 400px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.pesquisa button {
  padding: 10px 15px;
  font-size: 1em;
  margin-left: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pesquisa button:hover {
  background-color: #45a049;
}


  /* Conteúdo principal */
  main {
    max-width: 1000px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    color: #333;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.1em;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  /* Rodapé */
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 40px;
  }
  
  /* Ajustes para telas pequenas */
  @media (max-width: 768px) {
    header nav ul {
      padding: 0;
    }
  
    header nav ul li {
      display: block;
      margin: 10px 0;
    }
  }
  